<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta name="hapi-swaggered-version" content="{{version}}">
    <link rel="icon" type="image/png" href="{{routePrefix}}/images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{routePrefix}}/images/favicon-16x16.png" sizes="16x16" />
    <link href="{{routePrefix}}/css/typography.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="{{routePrefix}}/css/reset.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="{{routePrefix}}/css/screen.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="{{routePrefix}}/css/reset.css" media="print" rel="stylesheet" type="text/css"/>
    <link href="{{routePrefix}}/css/print.css" media="print" rel="stylesheet" type="text/css"/>
    <script src="{{routePrefix}}/lib/jquery-1.8.0.min.js" type="text/javascript"></script>
    <script src="{{routePrefix}}/lib/jquery.slideto.min.js" type="text/javascript"></script>
    <script src="{{routePrefix}}/lib/jquery.wiggle.min.js" type="text/javascript"></script>
    <script src="{{routePrefix}}/lib/jquery.ba-bbq.min.js" type="text/javascript"></script>
    <script src="{{routePrefix}}/lib/handlebars-2.0.0.js" type="text/javascript"></script>
    <script src="{{routePrefix}}/lib/underscore-min.js" type="text/javascript"></script>
    <script src="{{routePrefix}}/lib/backbone-min.js" type="text/javascript"></script>
    <script src="{{routePrefix}}/swagger-ui.min.js" type="text/javascript"></script>
    <script src="{{routePrefix}}/lib/highlight.7.3.pack.js" type="text/javascript"></script>
    <script src="{{routePrefix}}/lib/marked.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(function() {
            var oauthOptions = {{{oauthOptions}}};
            var swaggerOptions = _.extend({
                dom_id: "swagger-ui-container",
                onComplete: function(swaggerApi, swaggerUi) {
                    if (typeof initOAuth == "function" && oauthOptions) {
                        initOAuth(oauthOptions);
                    }

                    {{#if authorization.defaultValue}}
                        $('#input_apiKey').val("{{authorization.defaultValue}}");
                        addApiKeyAuthorization();
                    {{/if}}

                    $('pre code').each(function(i, e) {
                        hljs.highlightBlock(e)
                    });
                },
                onFailure: function(data) {
                    log("Unable to Load SwaggerUI");
                }
            }, {{{swaggerOptions}}});

            window.swaggerUi = new SwaggerUi(swaggerOptions);

            {{#if authorization}}
                var addApiKeyAuthorizations = function(e) {
                  var elem = $(e.target)[0];
                  var key = $(elem).val();
                  if (key && key.trim() !== "") {
                    var field = $(elem).attr('data-auth-field');
                    var scope = $(elem).attr('data-auth-scope');
                    key = $(elem).attr('data-value-prefix') || '' + key;
                    window.swaggerUi.api.clientAuthorizations.add(field, new SwaggerClient.ApiKeyAuthorization(field, key, scope));
                  } else {
                    window.swaggerUi.api.clientAuthorizations.remove(field);
                  }
                };

                $('.apiKeyAuthorization').change(addApiKeyAuthorizations);
            {{/if}}

            window.swaggerUi.load();

            function log() {
                if ('console' in window) {
                    console.log.apply(console, arguments);
                }
            }
        });
    </script>
</head>
<body class="swagger-section">
<div id="header">
    <div class="swagger-ui-wrap">
        <a id="logo" href="#">{{title}}</a>
        <form id="api_selector" style="{{#if authorization}}{{else}}display: none;{{/if}}">
            <div class="input" style="display:none;"><input placeholder="http://example.com/api" id="input_baseUrl"
                                                            name="baseUrl" type="text"/></div>

            <div class="input">
              <!-- loop the array of api keys, instead of having just one and using a placeholder -->
              {{#each authorization}}
              <input placeholder="{{#if this.placeholder}}{{this.placeholder}}{{else}}{{this.field}}{{/if}}"
                id="input_apiKey[{{#if this.placeholder}}{{this.placeholder}}{{else}}{{this.field}}{{/if}}]"
                class="apiKeyAuthorization" name="{{this.field}}" type="text" data-auth-field="{{this.field}}"
                data-auth-scope="{{this.scope}}" data-value-prefix="{{this.valuePrefix}}" value=""/>
              {{/each}}
                <!-- <input placeholder="{{#if authorization.placeholder}}{{authorization.placeholder}}{{else}}{{authorization.field}}{{/if}}"
                       id="input_apiKey" name="apiKey" type="text"/> -->
            </div>
            <div class="input"><a id="explore" href="#">Explore</a></div>
        </form>
    </div>
</div>

<div id="message-bar" class="swagger-ui-wrap">&nbsp;</div>
<div id="swagger-ui-container" class="swagger-ui-wrap"></div>
</body>
</html>
